body {
    cursor: url("../images/flowey_cursor_normal.png"), default;
    background-image: url(../images/background.gif);
    background-repeat: round;
    background-attachment: scroll;
    font-size: 25px;
    z-index: -2;
    height: 2500px;
    color: #ffffff;
}

h1{
    background-image: linear-gradient(#FFE382,#FFF78A,#FFC47E,#FFE382);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 50px;
    margin-bottom: 10px;
}

.blooming-flowers {
    background-image: url(../images/falling_petals.webp);
    background-repeat: round;
    background-attachment:fixed;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2500px;
    z-index: 1;
    pointer-events: none;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: #00000070;
    border-image: linear-gradient(#FFE382,#FFF78A,#FFC47E,#FFE382) 30 / 10px;
}

section {
    text-align: center;
}

section > p {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 1000px;
    flex-wrap: wrap;
}

section h2, article h2 {
    background-image: linear-gradient(#FFAD84,#FFC47E,#fdd5a3,#FFC47E,#FFAD84);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.icon {
    width: 20px;
    margin-right: 10px;
}

div {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

a {
    background-image: linear-gradient(#FFE382, #FFF78A, #FFC47E, #FFE382);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.2s;
    font-size: 25px;
}

a:hover {
    background-image: linear-gradient(#FFAD84, #FFC47E, #fdd5a3, #FFC47E, #FFAD84);
    cursor: url("../images/flowey_cursor_hover.png"), auto;
}

div img {
    width: 500px;
}

.github {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
