:root {
    --color-01: #ffe169;
    --color-02: #edc531;
    --color-03: #b69121;
    --color-04: #a47e1b;
    --color-05: #805b10;
    --color-gradient: linear-gradient(
    var(--color-01),
    var(--color-02),
    var(--color-03),
    var(--color-04),
    var(--color-05));
    --color-gradient-top: linear-gradient(
    to top,
    var(--color-01),
    var(--color-02),
    var(--color-03),
    var(--color-04),
    var(--color-05));


}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 0px;
}

*{
    margin: 0;
    padding: 0;
    font-family:monospace;
    font-size: 15px;
}

/*Layout Mobile*/

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

img{
    width: 150px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: var(--color-gradient-top);
} 
.control-panel{
    align-self: flex-end;

}
.control-panel button{
    margin-bottom: 10px;
}

.navegacao{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-dark{
    background: var(--color-gradient);
}

.footer-dark {
    background-image: var(--color-gradient-top);
}

header a {
    padding: 5px;
    text-decoration: none;  
    color: #fff;
}

.button-light {
    background-color: var(--color-03);
    padding: 2.5px;
    color: #fff;
}


.dark-font {
    color: #fff;
    transition: 0.3s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    background-color: var(--color-01);
}

.main-dark {
    background-color: var(--color-05);
    transition: 0.3s;
}

.sobre-mim{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98.5vw;
    background-image: linear-gradient(
        #ffe169e1,
        #edc431e1,
        #edc531e1,
        #ffe169e1
      ), url('../images/background-flower.webp');
      background-size: cover;
}

.sobre-mim-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98.5vw;
    background-image: linear-gradient(
        #805b10e1,
        #a47e1be1,
        #a47e1be1,
        #805b10e1
      ), url('../images/background-flower.webp');
      background-size: cover;
}

.sobre-mim p {
    text-align: center;
    flex-wrap: wrap;
    width: 300px;
    margin: 10px 0;
}

.sobre-mim img{
    padding: 20px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

.habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paralax {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50%;
    width: 98.5vw;
    background-image: url("../images/background-gif.gif");
    background-size: cover;
    background-position: 25% 75%; /* Define a posição horizontal e vertical como 50% */
    background-attachment: fixed;

}

.paralax strong {
    padding: 50px;
    font-size: 25px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0em;
    text-transform: lowercase;
    text-shadow: 3px 2px 0px #ffe169;
}

.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
}


.items {
    text-align: center;
    background-color: rgba(219, 218, 123, 0.336);
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.75);
    margin: 20px 0;
}

.projetos div p {
    margin: 5px;
}

.projetos div a {
    color:rgb(87, 17, 81);
    text-decoration: none;
    padding: 0 5px;
}

.contato {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.contato a {
    color:rgb(87, 17, 81);
    text-decoration: none;
}

#subirBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-03);
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

footer{
    background-image: var(--color-gradient);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*Togglers*/

.theme {
    width: 50px;
    height: 25px;
    position: relative;
    display: inline-block;
    background: var(--color-03);
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

.theme:after {
    content: "";
    width: 20px;
    height: 20px;
    top: 3px;
    left: 3px;
    position: absolute;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

input {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + .theme {
    background: var(--color-05);
}

input:checked + .theme::after {
    left: 45px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #b69121, #805b10);
}

.theme img {
    position: absolute;
    width: 15px;
    top: 5px;
    left: 5px;
    z-index: 100;
}

.theme img.sun {
    left: 5px;
    transition: 0.3s;
}

.theme img.moon {
    left: 30px;
    transition: 0.3s;
}

.theme img.play {
    left: 5px;
    transition: 0.3s;
}

.theme img.pause {
    left: 30px;
    transition: 0.3s;
}

/*icons*/
.css-icon, .github-icon {
    width: 39px;
}

.css-icon {
    margin-left: 10px;
}

.js-icon {
    width: 60px;
}

.icon {
    width: 32px;
}

/*Layout Tablet*/
@media (min-width: 450px){
}

/*Layout Desktop*/
@media (min-width: 800px) {
    *{
        font-size: 18px;
    }
    .navegacao {
        align-self: flex-end;
    }
    .navegacao a, footer a {
        margin: 10px;
    }
    footer {
        justify-content: center;
    }
    .icon {
        margin: 0 10px;
    }

    .sobre-mim p {
        width: 400px;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .items {
        margin: 10px;
    }
    
}